
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@600;700;800;900&display=swap');



/* for background image darkness  */
/* div.wines{
    background-image: url(background-image: url(../img/Pet\ Nat\ Wine-background\ 2-03.jpeg);
    background-color: rgba(255,255,255,0.9);
    background-blend-mode: darken;
    /* You may add things like width, height, background-size... 
}*/


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --gold: #989549;
    --darkgold: rgb(63, 62, 32);
    --lightgold: rgb(226, 223, 116);
    --darkred:#5F3639;
    --offblack: #231F20;
    --pink: #231F20;
    --white: #fff;
    --pink: #ffd0d3;
}


/* title style start  */

#icon{
    color: white;
    padding: 20px;
    font-size: 30px;
    line-height: 80px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    display: none;
}

h1{
    color: var(--gold);
    font-family: Playfair Display;
    font-size: 4em;
    padding: 20px 0;
    
}

h2{
    color: var(--darkred);
    font-family: Playfair Display;
    font-size: 2em;
    padding: 15px 0;
    
}

h3{
    color: var(--offblack);
    font-family: Montserrat;
    font-weight: 700;
    padding-top: 20px;
}

h4{
    color: var(--offblack);
    font-family: Playfair Display;
    font-weight: 700;
    padding-bottom: 15px;
    /* color: var(--white); */

}

p{
    color: var(--offblack);
    font-family: Montserrat;
    font-weight: 400;
    padding: 15px 0;
}



button{
    background-color: var(--darkred);
    padding: 7px 12px;
    border-radius: 4px;
    border: none;
    font-family: Montserrat;
    font-weight: 500;
    color: whitesmoke;
    cursor: pointer;
    font-size: 1em;

}

button:hover{
    background-color: #a26d71;
}
/* title style end  */



/* Navigation start  */
body{
    /* overflow-x: hidden; */
}


header{
    /* height: 40vh; */
    background-image: url(../img/header_contact.jpg);
    background-attachment: fixed;
    /* background-position-y: -200px; */
    background-size: cover;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-color: rgba(94, 94, 94, 0.9);
   
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.wine_header{
    background-image: url(../img/header_img_2.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100%;
}

header img{
    height: 20vh;
}

/* @media all and (min-width: 751px) { */
    

nav ul{
    display: flex;
    justify-content: space-between;
    
}

nav ul a{
    padding: 20px;
    font-family: Montserrat;
    font-weight: 600;
    color: whitesmoke;
    
}

nav ul a:hover{
    /* text-decoration: underline;  */
    /* border-bottom: 2px solid rgb(196, 196, 196); 
    text-decoration: none; */
    color: var(--pink);
}

.active{
    /* border-bottom: 2px solid var(--pink);  */
    color: var(--pink);
    /* text-decoration: underline; */
}

/* .cart{
    padding: 7px 12px;
    background-color: var(--gold);
    border-radius: 30px;
    color: var(--gold);
    font-weight: 800;

} */

.hamburger{
    display: none;
    cursor: pointer;
    border-bottom: none;
}



.heading{
    padding: 80px 100px;
}







/* dine start  */
.dine{
    /* height: 70vh; */
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.dine_text{
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.dine_pic img{
    object-fit: cover;
    /* height: 70vh; */
    /* height: 100%; */
    width: 50vw;
    min-height:100%;
    max-height: 2000px;
    
}

.strong{
    font-weight: 700;
}

.strong_underline{
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}
/* dine end  */


img {
    /* width: 100%; */
    display: block;
}
/* ^^ remove white lines between images  */

/* shop start  */
.shop{
    /* height: 70vh; */
    display: flex;
    justify-content:space-between;
    flex-direction: row-reverse;

}

.shop_text{
    /* padding: 50px; */
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}   

.shop_pic img{
    object-fit: cover;
    width: 50vw;
    min-height:100%;
    max-height: 2000px;

}
/* shop end  */


/* members start  */
.members{
    background-image: url(../img/Stay\ 3.jpeg);
    background-attachment: relative;
    background-position-y: center;
    background-color: rgba(94, 94, 94, 0.8);
    background-blend-mode: darken;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-position-y: 30px;
    background-repeat: none; */
}



.members h2{
    text-align: center;
    color: var(--white);
}

.members p{
    text-align: center;
    color: var(--white);
}

.input_field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;

}

input{
    width: 700px;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    padding: 8px;
    margin: 5px;
    overflow: hidden;
}



.input_btn{
    margin-top: 20px;
    background-color: var(--gold);
}

.flname{
    display: flex;
    flex-direction: row;
    width: 710px;
}


/* members end  */


/* footer start  */
footer{
    background-color: var(--offblack);
    padding: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info{
    width: 50%;
    display: flex;
    justify-content: space-between;
    
}

footer p{
    color: var(--white);
}

.gold{
    color: var(--gold);
    font-weight: 700;
}


footer img{
    height: 100px;
    width: auto;
    align-self: flex-end;
}

/* copyright info start  */

.copyright{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10vw;
}

.copyright p{
    font-size: .7em;
}

.footer_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.footer_links a{
    font-size: .7em;
    color: white;
    text-decoration: underline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.footer_links a:hover{
    color: var(--gold)
}

/* copyright info end  */


@media all and (max-width: 1000px) {
    nav ul a{
        padding: 15px;
    }
    /* shop start  */
    .shop{
        display: flex;
        justify-content:space-between;
        flex-direction: column-reverse;
    }

    .shop_text{
        padding: 30px;
        
    }

    .shop_pic img{
        object-fit: cover;
        /* flex: 1; */
        /* height: 100%; */
        width: 100%;
        /* height: 50vh; */
    }
    /* shop end  */

    /* dine start  */
    .dine{
        display: flex;
        justify-content:space-between;
        flex-direction: column-reverse;
    }

    .dine_text{
        padding: 30px;
    }

    .dine img{
        object-fit: cover;
        /* height: 70vh; */
        /* height: 100%; */
        width: 100%;
        height: 70vh;
    }
    /* dine end  */


}






@media all and (max-width: 750px) {

    h1{
        color: var(--gold);
        font-family: Playfair Display;
        font-size: 3em;
        padding: 20px 0;
        
    }

    

/* nav burger menu start  */
    /* hamburger icon animation  */
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    /* hamburger icon animation end */

  
    
    header{
        position: fixed;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
        background-color: var(--offblack);
        background-image: none;

    }

    header img{
        height: 70px;
    }

    .nav_menu{
        position: fixed;
        right:-100%;
        top: 60px;
        height: 90vh;
        gap: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--offblack);
        width: 100vw;
        text-align: center;
        transition: 0.5s;
        z-index: 1;
        padding: 40px 0;
    }

    .nav_item{
        margin: 16px;
    }

    .nav_menu.active{
        right: 0;
    }

/* nav burger menu end  */

    .heading{
        padding: 50px 30px;
    }

        
    /* shop start  */
    .shop{
        display: flex;
        justify-content:space-between;
        flex-direction: column-reverse;
    }

    .shop_text{
        padding: 30px;
        
    }

    .shop_pic img{
        object-fit: cover;
        /* flex: 1; */
        /* height: 100%; */
        width: 100%;
        /* height: 50vh; */
    }
    /* shop end  */

    /* dine start  */
    .dine{
        display: flex;
        justify-content:space-between;
        flex-direction: column-reverse;
    }

    .dine_text{
        padding: 30px;
    }

    .dine img{
        object-fit: cover;
        /* height: 70vh; */
        /* height: 100%; */
        width: 100%;
        height: 70vh;
    }
    /* dine end  */


    /* members start  */
    .members{
        padding: 0 30px;
    }
    
    input{
        width: 400px;
        height: 30px;
        border-radius: 5px;
        border-width: 1px;
        padding: 8px;
        margin: 5px;
    }

    .flname{
        width: 410px;
    }
    /* members end  */


    /* footer start  */
  
    .info{
        /* width: 50%; */
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .resturant{
        text-align: right;
    }

    .hide{
        display: none;
    }

    

    /* copyright info start  */

    .copyright{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 10vw; */
    }

    .copyright p{
        font-size: .7em;
    }

    .element_hide{
        display: none;
    }
/* copyright info end  */


    /* footer end  */
}



